.beauty {
	margin: 0 auto;
	margin-bottom: 80px;
	background-color: #efefef;
	width:100%;
	min-width: 850px;
	height: 300px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	padding-bottom: 20px;
}

.beauty div {
	flex-basis: 45%;
}

.text_box {
	text-align: center;
	padding: 10px;
	color: #333;
	max-width: 600px;
	overflow: hidden;
	min-width: 400px;
}

.text_box p {
	line-height: 2;
}

.text_box h1 {
	text-transform: uppercase;
	font-weight: 500;
	color: #333;
}

.beauty .img_container {
	min-width: 400px;
	height: 400px;
	background-image: url(https://images.unsplash.com/photo-1581954725107-184b02c1a9f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

button.btn{
	text-align: center;
	padding: 10px;
	font-weight: 900;
	color: #333;
	background: transparent;
	outline: none;
	border: none;
	font-size: 14px;
	opacity: 0;
	transition: opacity .5s;
}

.text_box:hover button {
	opacity: 1;
	transition: opacity .5s;
	transition-delay: 0.3s;
}

button.btn:after {
	font-family: "Font Awesome 5 Free";
	position: relative;
	left: 10px;
	content: "\f054";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}